<header id="navigation" class="p-navigation l-navbar">
  <div class="p-navigation__toggle">
    <button class="p-navigation__toggle-button" type="button" aria-label="Toggle navigation">
      Toogle side navigation
    </button>
  </div>

  <div class="p-navigation__logo">
    <a class="p-navigation__item" href="#">
      <img class="p-navigation__image" src="https://anthonydillon.com/images/ad_logo.jpg" alt="" width="95">
    </a>
  </div>

  <nav class="p-navigation__nav" aria-label="Categories navigation">
    <ul class="p-navigation__items">
      <li class="p-navigation__item is-selected">
        <a class="p-navigation__link" href="/">All</a>
      </li>
      <li class="p-navigation__item">
        <a class="p-navigation__link" href="#">Development</a>
      </li>
      <li class="p-navigation__item">
        <a class="p-navigation__link" href="#">Management</a>
      </li>
      <li class="p-navigation__item">
        <a class="p-navigation__link" href="#">Cooking</a>
      </li>
      <li class="p-navigation__item">
        <a class="p-navigation__link" href="#">Ideas</a>
      </li>
    </ul>

    <ul class="p-navigation__items">
      <li class="p-navigation__item">
        <a class="p-navigation__link" href="#">@anthonydillon on Twitter</a>
      </li>
      <li class="p-navigation__item">
        <a class="p-navigation__link" href="#">My work</a>
      </li>
      <li class="p-navigation__item">
        <a class="p-navigation__link" href="#">About</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  var toggle = document.querySelector('.p-navigation__toggle');
  var layout = document.querySelector('.layout');

  toggle.addEventListener('click', function() {
    layout.classList.toggle('is-open');
  });
</script>
