.p-badge {
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: #fff;
  background-color: #666;
}

.p-badge--management {
  @extend .p-badge;
  background-color: #5360db;

}

.p-badge--engineering {
  @extend .p-badge;
  background-color: #09bd63;

}

.p-badge--ideas {
  @extend .p-badge;
  color: #111;
  background-color: #FF8329;

}

.p-badge--cooking {
  @extend .p-badge;
  background-color: #c22e78;

}