.layout {
  display: grid;
  grid-template-areas:
    'navbar  main'
    'navbar  main'
    'navbar  main';
  grid-template-columns: 285px 1fr;
  grid-template-rows: 1fr min-content;
  overflow: hidden;

  @media screen and (max-width: $navigation-threshold) {
    grid-template-columns: 0px 1fr;

    &.is-open {
      grid-template-columns: 1fr 0;

      .l-main {
        display: none;
      }
    }
  }
}

.l-navbar {
  grid-area: navbar;

  @media screen and (max-width: $navigation-threshold) {
    overflow: hidden;
  }
}

.l-main {
  grid-area: main;
  padding: 1rem 2rem 0;
  max-width: 60rem;
  margin: 2rem auto;

  @media screen and (max-width: $navigation-threshold) {
    max-width: calc(100vw - 4rem);
  }

  .col-4 {
    display: inline-block;
    max-width: 30%;
  }

  .col-8 {
    display: inline-block;
    max-width: 59%;
    margin-left: 10%;
  }

  img {
    border: 0;
    border-radius: 0.125rem;
    height: auto;
    max-width: 100%;
  }
}