$navigation-threshold: 1200px;

@import "layout";
@import "navigation";
@import "article";

body {
  display: block;
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
  line-height: 1.5;
}