<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Thoughts, ideas and lessons from Anthony Dillon, a software developer turned Director of Engineering at Canonical.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% include head.html %}
</head>
<body>
  <div class="layout">
    {% include navigation.njk %}
    <main class="l-main">
      <div class="l-content">{{ content | safe }}</div>
    </main>
  </div>
</body>
</html>
