%projects {
  padding: 1em 1em 1em 0;
  background-color: #fff;
  transition: all .4s;
  display: block;

  &:hover {
    padding-left: 1em;
  }
}

.projects {
  &--ubuntu {
    @extend %projects;

    &:hover {
      background-color: #e95420;
      color: #fff;
    }
  }

  &--juju {
    @extend %projects;

    &:hover {
      background-color: #002835;
      color: #fff;
    }
  }

  &--gorillaz {
    @extend %projects;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &__role {
    font-size: .85em;
    margin: 0;
  }

  &__title {
    margin-bottom: 0;
  }
}
